/* @theme {
  --color-background: #E7E7E7;
  --color-surface: #ffffff;
  --color-primary: #008000;
  --color-primary-light: #22AC74;
  --color-accent: #FF9800;
  --color-text: #1e293b;
  --color-text-light: #64748b;
  --color-border: #e2e8f0;

  --font-sans: Inter, sans-serif;
  --font-poppins: Poppins, sans-serif;

  --border-radius-default: 12px;

  --shadow-default: 0 4px 12px rgba(0, 0, 0, 0.06);
} */