/* root styles */
:root {
  --primary-color: #D46F12;
  --secondary-color: #8EC976;
  --tertiary-color: #717171;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --white-color: #fff;
  --black-color: #000;
  --font-color: #333;
  --font-color-light: #f4f4f4;
  --font-color-dark: #333;
  --font-color-white: #fff;
  --font-color-black: #000;
  --font-family: "Arial Rounded MT Bold", "Poppins", sans-serif;
  --font-size: 1rem;
  --font-weight: 400;
  --line-height: 1.5;
  --pallet-dark-blue: "#010f24";
  --pallet-orange: #fe9000;
  --pallet-green: #028090;
  --pallet-red: #f45b69;
  --pallet-brown: #621b00;
  --pallet-grey: #818aa3;
  --pallet-dark-grey: #56607c;
  --pallet-light-grey: #b5bcce;
  --pallet-lighter-grey: #dce1ec;
  --pallet-light-blue: #7db0ff;
  --pallet-lighter-blue: #98c0fc;
  --pallet-lightest-blue: #afcaf1;
  --pallet-main-blue: #010f24;
  --pallet-border-blue: #95979c;
  --pallet-blue: #00327e;
  --pallet-pink: #ad6fc1;
}