/* root styles */
/* :root {
  --primary-color: #008000;
  --secondary-color: #22AC74;
  --accent-color: #FF9800;
  --background-color: #E7E7E7;
  --surface-color: #ffffff;

  --text-color: #1e293b;
  --text-light-color: #64748b;

} */